html {
  font-family: "Fredoka One", sans-serif;

}

.banner {
  background: repeating-linear-gradient(-35deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
  border-top: solid 10px #b3fbff;
  border-bottom: solid 10px #b3fbff;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
}

p {
  color: #c09;
  transform: rotate(-5deg);
}

.wrapper {
  height: 23em;
}

.btn-ghost {
  border-color: #990073;
  color: #c09;
}

.glow {
  text-shadow: 2px 2px 0 rgba(153, 0, 115, .15);
}

.body-copy {
  max-width: 19em;
}

.ice {
  width: 180px;
  height: auto;
}

.ice-cream {
  position: relative;
  width: 100%;
  height: 100%;
}

.ice-cream-contain {
  height: 100%;
}

.text-contain {
  height: 100%;
}

.cone {
  position: absolute;
  width: 180px;
  height: auto;
  top: calc(50% + 100px);
  left: calc(50% + 17px);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.cherry {
  width: 180px;
  height: auto;
  position: absolute;
  top: calc(50% - 220px);
  left: calc(50% + 17px);
  transform: translate(-50%, -50%);
  z-index: 6;
}

.i-c {
  position: absolute;
}

.ice-1 {
  top: calc(50% - 5px);
  left: calc(50% + 17px);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.ice-2 {
  top: calc(50% - 75px);
  left: calc(50% + 25px);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.ice-3 {
  top: calc(50% - 150px);
  left: calc(50% + 17px);
  transform: translate(-50%, -50%);
  z-index: 3;
}

.btn-ghost:hover {
  background-color: rgba(153, 0, 115, .1);
  border-color: #990073;
  color: #c09;
}
